In [4]:
import pandas as pd

In [5]:
dRegSeasonResults = pd.read_csv("../Data/MRegularSeasonDetailedResults.csv")
dTourneyResults = pd.read_csv("../Data/MNCAATourneyDetailedResults.csv")

In [6]:
dRegSeasonResults

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92827,2020,128,1389,56,1233,54,N,0,15,60,...,16,18,20,4,27,6,17,8,4,20
92828,2020,128,1393,81,1314,53,N,0,28,61,...,16,11,13,13,29,9,18,0,1,18
92829,2020,128,1402,85,1111,68,H,0,34,57,...,15,25,35,8,17,6,18,7,2,18
92830,2020,128,1412,74,1427,69,N,0,26,53,...,27,7,7,12,22,11,13,4,2,18
92831,2020,128,1450,82,1160,68,N,0,27,55,...,21,22,32,10,24,4,11,4,4,19

In [7]:
# gets 3PT Attempt Percentage
def threeFgap(row):
    if "WFGA" in row:
        threeFgap = row["WFGA3"]/float(row["WFGA"])
    else:
        threeFgap = row["LFGA3"]/float(row["LFGA"])
    return threeFgap
# Gets 2PT Attempt percentage by taking the percent of all field goal attempts which aren't 3PTs
def twoFgap(row):
    if "WFGA" in row:
        twoFgap = float(row["WFGA"] - row["WFGA3"])/float(row["WFGA"])
    else:
        twoFgap = float(row["LFGA"] - row["LFGA3"])/float(row["LFGA"])
    return twoFgap

In [8]:
dRegSeasonResults["WFGA%3"] = dRegSeasonResults[["WFGA", "WFGA3"]].apply(threeFgap, axis=1)
dRegSeasonResults["WFGA%2"] = dRegSeasonResults[["WFGA", "WFGA3"]].apply(twoFgap, axis=1)
dRegSeasonResults["LFGA%3"] = dRegSeasonResults[["LFGA", "LFGA3"]].apply(threeFgap, axis=1)
dRegSeasonResults["LFGA%2"] = dRegSeasonResults[["LFGA", "LFGA3"]].apply(twoFgap, axis=1)

In [9]:
# New Regular Season box scores with new features
dRegSeasonResults

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,WFGA%3,LFGA%3
0,2003,10,1104,68,1328,62,N,0,27,58,...,22,10,22,8,18,9,2,20,0.241379,0.188679
1,2003,10,1272,70,1393,63,N,0,26,62,...,20,20,25,7,12,8,6,16,0.322581,0.358209
2,2003,11,1266,73,1437,61,N,0,24,58,...,23,31,22,9,12,2,5,23,0.310345,0.356164
3,2003,11,1296,56,1457,50,N,0,18,38,...,15,17,20,9,19,4,3,23,0.236842,0.448980
4,2003,11,1400,77,1208,71,N,0,30,61,...,27,21,15,12,10,7,1,14,0.229508,0.258065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92827,2020,128,1389,56,1233,54,N,0,15,60,...,20,4,27,6,17,8,4,20,0.400000,0.347826
92828,2020,128,1393,81,1314,53,N,0,28,61,...,13,13,29,9,18,0,1,18,0.344262,0.266667
92829,2020,128,1402,85,1111,68,H,0,34,57,...,35,8,17,6,18,7,2,18,0.210526,0.326087
92830,2020,128,1412,74,1427,69,N,0,26,53,...,7,12,22,11,13,4,2,18,0.264151,0.402985
92831,2020,128,1450,82,1160,68,N,0,27,55,...,32,10,24,4,11,4,4,19,0.381818,0.368421

In [13]:
# Do same for tourney attenders
dTourneyResults["WFGA%3"] = dTourneyResults[["WFGA", "WFGA3"]].apply(threeFgap, axis=1)
dTourneyResults["WFGA%2"] = dTourneyResults[["WFGA", "WFGA3"]].apply(twoFgap, axis=1)
dTourneyResults["LFGA%3"] = dTourneyResults[["LFGA", "LFGA3"]].apply(threeFgap, axis=1)
dTourneyResults["LFGA%2"] = dTourneyResults[["LFGA", "LFGA3"]].apply(twoFgap, axis=1)

In [14]:
# New Tournament box scores with new features
dTourneyResults

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LDR,LAst,LTO,LStl,LBlk,LPF,WFGA%3,WFGA%2,LFGA%3,LFGA%2
0,2003,134,1421,92,1411,84,N,1,32,69,...,28,16,15,5,0,22,0.420290,0.579710,0.462687,0.537313
1,2003,136,1112,80,1436,51,N,0,31,66,...,26,12,17,10,3,15,0.348485,0.651515,0.250000,0.750000
2,2003,136,1113,84,1272,71,N,0,31,59,...,22,11,12,2,5,18,0.237288,0.762712,0.405797,0.594203
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,20,21,6,6,21,0.132075,0.867925,0.283333,0.716667
4,2003,136,1143,76,1301,74,N,1,27,64,...,26,16,14,5,8,19,0.312500,0.687500,0.375000,0.625000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,2019,146,1120,77,1246,71,N,1,26,65,...,30,14,14,5,5,19,0.353846,0.646154,0.344262,0.655738
1111,2019,146,1277,68,1181,67,N,0,30,70,...,29,14,17,4,9,9,0.271429,0.728571,0.368421,0.631579
1112,2019,152,1403,61,1277,51,N,0,22,51,...,28,6,11,1,2,15,0.450980,0.549020,0.510638,0.489362
1113,2019,152,1438,63,1120,62,N,0,25,51,...,24,9,5,3,3,12,0.372549,0.627451,0.563636,0.436364
1114,2019,154,1438,85,1403,77,N,1,27,59,...,23,9,8,6,3,18,0.406780,0.593220,0.476190,0.523810