In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

## Feature Engineering - 3PT% and 2PT%

In [2]:
dRegSeasonResults = pd.read_csv("../Data/MRegularSeasonDetailedResults.csv")
dTourneyResults = pd.read_csv("../Data/MNCAATourneyDetailedResults.csv")

In [3]:
dRegSeasonResults

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92827,2020,128,1389,56,1233,54,N,0,15,60,...,16,18,20,4,27,6,17,8,4,20
92828,2020,128,1393,81,1314,53,N,0,28,61,...,16,11,13,13,29,9,18,0,1,18
92829,2020,128,1402,85,1111,68,H,0,34,57,...,15,25,35,8,17,6,18,7,2,18
92830,2020,128,1412,74,1427,69,N,0,26,53,...,27,7,7,12,22,11,13,4,2,18
92831,2020,128,1450,82,1160,68,N,0,27,55,...,21,22,32,10,24,4,11,4,4,19

In [4]:
# gets 3PT Attempt Percentage
def threeFgap(row):
    if "WFGA" in row:
        threeFgap = row["WFGA3"]/float(row["WFGA"])
    else:
        threeFgap = row["LFGA3"]/float(row["LFGA"])
    return threeFgap
# Gets 2PT Attempt percentage by taking the percent of all field goal attempts which aren't 3PTs
def twoFgap(row):
    if "WFGA" in row:
        twoFgap = float(row["WFGA"] - row["WFGA3"])/float(row["WFGA"])
    else:
        twoFgap = float(row["LFGA"] - row["LFGA3"])/float(row["LFGA"])
    return twoFgap

In [5]:
dRegSeasonResults["WFGA%3"] = dRegSeasonResults[["WFGA", "WFGA3"]].apply(threeFgap, axis=1)
dRegSeasonResults["WFGA%2"] = dRegSeasonResults[["WFGA", "WFGA3"]].apply(twoFgap, axis=1)
dRegSeasonResults["LFGA%3"] = dRegSeasonResults[["LFGA", "LFGA3"]].apply(threeFgap, axis=1)
dRegSeasonResults["LFGA%2"] = dRegSeasonResults[["LFGA", "LFGA3"]].apply(twoFgap, axis=1)

In [6]:
# New Regular Season box scores with new features
dRegSeasonResults

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LDR,LAst,LTO,LStl,LBlk,LPF,WFGA%3,WFGA%2,LFGA%3,LFGA%2
0,2003,10,1104,68,1328,62,N,0,27,58,...,22,8,18,9,2,20,0.241379,0.758621,0.188679,0.811321
1,2003,10,1272,70,1393,63,N,0,26,62,...,25,7,12,8,6,16,0.322581,0.677419,0.358209,0.641791
2,2003,11,1266,73,1437,61,N,0,24,58,...,22,9,12,2,5,23,0.310345,0.689655,0.356164,0.643836
3,2003,11,1296,56,1457,50,N,0,18,38,...,20,9,19,4,3,23,0.236842,0.763158,0.448980,0.551020
4,2003,11,1400,77,1208,71,N,0,30,61,...,15,12,10,7,1,14,0.229508,0.770492,0.258065,0.741935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92827,2020,128,1389,56,1233,54,N,0,15,60,...,27,6,17,8,4,20,0.400000,0.600000,0.347826,0.652174
92828,2020,128,1393,81,1314,53,N,0,28,61,...,29,9,18,0,1,18,0.344262,0.655738,0.266667,0.733333
92829,2020,128,1402,85,1111,68,H,0,34,57,...,17,6,18,7,2,18,0.210526,0.789474,0.326087,0.673913
92830,2020,128,1412,74,1427,69,N,0,26,53,...,22,11,13,4,2,18,0.264151,0.735849,0.402985,0.597015
92831,2020,128,1450,82,1160,68,N,0,27,55,...,24,4,11,4,4,19,0.381818,0.618182,0.368421,0.631579

In [7]:
# Do same for tourney attenders
dTourneyResults["WFGA%3"] = dTourneyResults[["WFGA", "WFGA3"]].apply(threeFgap, axis=1)
dTourneyResults["WFGA%2"] = dTourneyResults[["WFGA", "WFGA3"]].apply(twoFgap, axis=1)
dTourneyResults["LFGA%3"] = dTourneyResults[["LFGA", "LFGA3"]].apply(threeFgap, axis=1)
dTourneyResults["LFGA%2"] = dTourneyResults[["LFGA", "LFGA3"]].apply(twoFgap, axis=1)

In [8]:
# New Tournament box scores with new features
dTourneyResults

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LDR,LAst,LTO,LStl,LBlk,LPF,WFGA%3,WFGA%2,LFGA%3,LFGA%2
0,2003,134,1421,92,1411,84,N,1,32,69,...,28,16,15,5,0,22,0.420290,0.579710,0.462687,0.537313
1,2003,136,1112,80,1436,51,N,0,31,66,...,26,12,17,10,3,15,0.348485,0.651515,0.250000,0.750000
2,2003,136,1113,84,1272,71,N,0,31,59,...,22,11,12,2,5,18,0.237288,0.762712,0.405797,0.594203
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,20,21,6,6,21,0.132075,0.867925,0.283333,0.716667
4,2003,136,1143,76,1301,74,N,1,27,64,...,26,16,14,5,8,19,0.312500,0.687500,0.375000,0.625000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,2019,146,1120,77,1246,71,N,1,26,65,...,30,14,14,5,5,19,0.353846,0.646154,0.344262,0.655738
1111,2019,146,1277,68,1181,67,N,0,30,70,...,29,14,17,4,9,9,0.271429,0.728571,0.368421,0.631579
1112,2019,152,1403,61,1277,51,N,0,22,51,...,28,6,11,1,2,15,0.450980,0.549020,0.510638,0.489362
1113,2019,152,1438,63,1120,62,N,0,25,51,...,24,9,5,3,3,12,0.372549,0.627451,0.563636,0.436364
1114,2019,154,1438,85,1403,77,N,1,27,59,...,23,9,8,6,3,18,0.406780,0.593220,0.476190,0.523810

## KenPom Rankings Setup (for model)

In [9]:
kpom = pd.read_csv("../Data/kpom.csv")
teams = pd.read_csv("../Data/MTeams.csv")
teams = teams.set_index("TeamName")
kpom

,Rk,Team,Conf,W-L,AdjEM,AdjO,AdjD,AdjT,Luck,AdjEM.1,OppO,OppD,AdjEM.2,TeamID
0,1,Gonzaga,WCC,26-0,37.92,126.8,88.9,74.8,0.018,7.67,105.8,98.1,5.88,1211.0
1,2,Michigan,B10,20-3,32.46,120.4,88.0,67.1,0.052,16.29,110.9,94.6,2.90,1276.0
2,3,Illinois,B10,21-6,31.36,119.6,88.3,70.6,0.015,17.92,111.7,93.8,9.47,1228.0
3,4,Iowa,B10,21-7,30.75,125.0,94.3,69.9,-0.019,16.11,110.0,93.9,-5.56,1234.0
4,5,Baylor,B12,22-2,30.74,124.1,93.3,68.5,0.050,9.40,106.4,97.0,-4.40,1124.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,353,South Carolina St,MEAC,17-1,-23.69,87.7,111.4,72.0,-0.109,-4.83,98.2,103.0,1.87,NaN
353,354,Alabama St,SWAC,14-4,-25.30,84.6,109.9,71.1,-0.049,-15.73,90.9,106.6,-99.00,1106.0
354,355,Maryland Eastern Shore,MEAC,0-0,-25.73,84.8,110.5,68.0,0.000,-99.00,0.0,200.0,-99.00,NaN
355,356,Chicago St,WAC,0-9,-28.06,89.0,117.1,67.8,-0.006,8.80,106.8,98.0,8.80,1152.0
356,357,Mississippi Valley St,SWAC,22-2,-40.63,79.6,120.3,71.5,0.040,-5.16,96.9,102.0,15.03,NaN

In [10]:
# Commented out so there is no need to add teamIDs everytime (only on first run)

# def getTeamID(row):
#     teamName = row["Team"]
#     if teamName in teams.index:
#         return teams.loc[teamName]["TeamID"]
# kpom["TeamID"] = kpom.apply(getTeamID , axis=1)
# kpom.to_csv("../Data/kpom.csv", index=False)

## Feature Setup for Logistic Regression Model
The output of this section are a few datasets:
- xTrain - features training data
- yTrain - label training data
- xTest - features test data
- yTest - label test data
- features - features by team, as utilized in making further predictions

Model features are:
- Seed Differential
- KenPom Ranking
- FG%
- FGM
- Pts
- TS%
- Possesions
- Defensive Rebounds
- Assists
- Offensive Rating
- Defensive Rating
- Net Rating
- Team PIE

as exploratory data analysis showed these variables to have a stronger correlation with point differential, which dictates wins.

There are 4 of each variable in a training example (except for seed differential, only one, and KenPom Ranking, only one per team). Each team has 2 of each variable for historical regular season performance and postseason performance, for both the winning team and losing team. In total then, there are about 47 variables.

In [11]:
# Merging seeds with tourney dataset, code written by jacobrichman27
seeds = pd.read_csv("../Data/MNCAATourneySeeds.csv")
dTourneyResults = dTourneyResults.merge(seeds, how='left', left_on=['Season', 'WTeamID'], right_on=['Season', 'TeamID']).drop('TeamID', axis=1).rename(columns={'Seed': 'WSeed'})
dTourneyResults = dTourneyResults.merge(seeds, how='left', left_on=['Season', 'LTeamID'], right_on=['Season', 'TeamID']).drop('TeamID', axis=1).rename(columns={'Seed': 'LSeed'})
dTourneyResults['WSeed'] = dTourneyResults['WSeed'].str.replace(r'[^0-9]', '').astype('float')
dTourneyResults['LSeed'] = dTourneyResults['LSeed'].str.replace(r'[^0-9]', '').astype('float')
dTourneyResults

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LTO,LStl,LBlk,LPF,WFGA%3,WFGA%2,LFGA%3,LFGA%2,WSeed,LSeed
0,2003,134,1421,92,1411,84,N,1,32,69,...,15,5,0,22,0.420290,0.579710,0.462687,0.537313,16.0,16.0
1,2003,136,1112,80,1436,51,N,0,31,66,...,17,10,3,15,0.348485,0.651515,0.250000,0.750000,1.0,16.0
2,2003,136,1113,84,1272,71,N,0,31,59,...,12,2,5,18,0.237288,0.762712,0.405797,0.594203,10.0,7.0
3,2003,136,1141,79,1166,73,N,0,29,53,...,21,6,6,21,0.132075,0.867925,0.283333,0.716667,11.0,6.0
4,2003,136,1143,76,1301,74,N,1,27,64,...,14,5,8,19,0.312500,0.687500,0.375000,0.625000,8.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,2019,146,1120,77,1246,71,N,1,26,65,...,14,5,5,19,0.353846,0.646154,0.344262,0.655738,5.0,2.0
1111,2019,146,1277,68,1181,67,N,0,30,70,...,17,4,9,9,0.271429,0.728571,0.368421,0.631579,2.0,1.0
1112,2019,152,1403,61,1277,51,N,0,22,51,...,11,1,2,15,0.450980,0.549020,0.510638,0.489362,3.0,2.0
1113,2019,152,1438,63,1120,62,N,0,25,51,...,5,3,3,12,0.372549,0.627451,0.563636,0.436364,1.0,5.0
1114,2019,154,1438,85,1403,77,N,1,27,59,...,8,6,3,18,0.406780,0.593220,0.476190,0.523810,1.0,3.0

In [12]:
# adding all the necessary features to data frame. This data will then be pulled to 
# form training data
def addFeatures(df):
    df["WFG%"] = df.apply(lambda row: row.WFGM/row.WFGA, axis=1)
    df["LFG%"] = df.apply(lambda row: row.LFGM/row.LFGA, axis=1)
    df["WPts"] = df.apply(lambda row: 2*row.WFGM + row.WFGM3 + row.WFTM, axis=1)
    df["LPts"] = df.apply(lambda row: 2*row.LFGM + row.LFGM3 + row.LFTM, axis=1)
    df["WTS%"] = df.apply(lambda row: row.WPts/(2*(row.WFGA + 0.44 * row.WFTA)), axis=1)
    df["LTS%"] = df.apply(lambda row: row.LPts/(2*(row.LFGA + 0.44 * row.LFTA)), axis=1)
    df["WPos"] = df.apply(lambda row: 0.96*(row.WFGA - row.WOR + row.WTO + 0.44*row.WFTA), axis=1)
    df["LPos"] = df.apply(lambda row: 0.96*(row.LFGA - row.LOR + row.LTO + 0.44*row.LFTA), axis=1)
    df["WOffRtg"] = df.apply(lambda row: 100 * (row.WPts/row.WPos), axis=1)
    df["LDefRtg"] = df.WOffRtg
    df["LOffRtg"] = df.apply(lambda row: 100 * (row.LPts/row.LPos), axis=1)
    df["WDefRtg"] = df.LOffRtg
    df["WNetRtg"] = df.apply(lambda row: row.WOffRtg - row.WDefRtg, axis=1)
    df["LNetRtg"] = df.apply(lambda row: row.LOffRtg - row.LDefRtg, axis=1)
    df["WPIE"] = df.apply(lambda row: (row.WPts + row.WFGM+row.WFTM - row.WFGA - row.WFTA + row.WDR + 0.5*row.WOR + row.WAst +row.WStl + 0.5 * row.WBlk - row.WPF - row.WTO)/((row.LPts + row.WPts) + (row.LFGM + row.WFGM) + (row.LFTM+row.WFTM) - (row.LFGA+row.WFGA) - (row.LFTA+row.WFTA) + (row.LDR+row.WDR) + 0.5*(row.LOR+row.WOR) + (row.LAst+row.WAst) +(row.LStl+row.WStl) + 0.5 * (row.LBlk+row.WBlk) - (row.LPF+row.WPF) - (row.LTO+row.WTO)), axis=1)
    df["LPIE"] = df.apply(lambda row: (row.LPts + row.LFGM+row.LFTM - row.LFGA - row.LFTA + row.LDR + 0.5*row.LOR + row.LAst +row.LStl + 0.5 * row.LBlk - row.LPF - row.LTO)/((row.LPts + row.WPts) + (row.LFGM + row.WFGM) + (row.LFTM+row.WFTM) - (row.LFGA+row.WFGA) - (row.LFTA+row.WFTA) + (row.LDR+row.WDR) + 0.5*(row.LOR+row.WOR) + (row.LAst+row.WAst) +(row.LStl+row.WStl) + 0.5 * (row.LBlk+row.WBlk) - (row.LPF+row.WPF) - (row.LTO+row.WTO)), axis=1)

In [13]:
addFeatures(dRegSeasonResults)
addFeatures(dTourneyResults)
dTourneyResults

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,WPos,LPos,WOffRtg,LDefRtg,LOffRtg,WDefRtg,WNetRtg,LNetRtg,WPIE,LPIE
0,2003,134,1421,92,1411,84,N,1,32,69,...,75.3024,75.4944,122.174061,122.174061,111.266531,111.266531,10.907530,-10.907530,0.594262,0.405738
1,2003,136,1112,80,1436,51,N,0,31,66,...,74.0736,73.0368,108.000691,108.000691,69.827813,69.827813,38.172878,-38.172878,0.769231,0.230769
2,2003,136,1113,84,1272,71,N,0,31,59,...,64.9728,67.4304,129.284870,129.284870,105.293755,105.293755,23.991115,-23.991115,0.683544,0.316456
3,2003,136,1141,79,1166,73,N,0,29,53,...,68.1600,71.5008,115.903756,115.903756,102.096760,102.096760,13.806996,-13.806996,0.585586,0.414414
4,2003,136,1143,76,1301,74,N,1,27,64,...,66.3552,66.0480,114.535108,114.535108,112.039729,112.039729,2.495379,-2.495379,0.491667,0.508333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,2019,146,1120,77,1246,71,N,1,26,65,...,69.6576,70.3104,110.540702,110.540702,100.980794,100.980794,9.559908,-9.559908,0.511737,0.488263
1111,2019,146,1277,68,1181,67,N,0,30,70,...,65.8944,64.0512,103.195416,103.195416,104.603817,104.603817,-1.408401,1.408401,0.496000,0.504000
1112,2019,152,1403,61,1277,51,N,0,22,51,...,58.2912,55.6032,104.647014,104.647014,91.721340,91.721340,12.925674,-12.925674,0.605442,0.394558
1113,2019,152,1438,63,1120,62,N,0,25,51,...,56.9088,54.8736,110.703441,110.703441,112.986937,112.986937,-2.283496,2.283496,0.545455,0.454545
1114,2019,154,1438,85,1403,77,N,1,27,59,...,66.3552,65.8560,128.098476,128.098476,116.921769,116.921769,11.176707,-11.176707,0.577778,0.422222

In [14]:
# Data Frame of all features for a single team
train = {"TeamID": [], "KPomRk":[], "RFGM":[], "RFG%": [],"RPts": [],"RTS%": [],"RPos": [],"ROffRtg": [], "RDR":[], "RAst":[], "RDefRtg": [],"RPIE": [], "RNetRtg":[], "TFGM":[], "TFG%": [],"TPts": [],"TTS%": [],"TPos": [],"TOffRtg": [], "TDR":[], "TAst":[], "TDefRtg": [],"TPIE": [], "TNetRtg":[]}
test = {"TeamID": [], "KPomRk":[], "RFGM":[], "RFG%": [],"RPts": [],"RTS%": [],"RPos": [],"ROffRtg": [], "RDR":[], "RAst":[], "RDefRtg": [],"RPIE": [], "RNetRtg":[], "TFGM":[], "TFG%": [],"TPts": [],"TTS%": [],"TPos": [],"TOffRtg": [], "TDR":[], "TAst":[], "TDefRtg": [],"TPIE": [], "TNetRtg":[]}
features = {"TeamID": [], "KPomRk":[], "RFGM":[], "RFG%": [],"RPts": [],"RTS%": [],"RPos": [],"ROffRtg": [], "RDR":[], "RAst":[], "RDefRtg": [],"RPIE": [], "RNetRtg":[], "TFGM":[], "TFG%": [],"TPts": [],"TTS%": [],"TPos": [],"TOffRtg": [], "TDR":[], "TAst":[], "TDefRtg": [],"TPIE": [], "TNetRtg":[]}

In [15]:
# Populates dicts in above cell
def populateDict(data, query):
    print('WTeamID == %d & %s' % (-1,query))
    kpomSorted = kpom.set_index("TeamID")
    for team in teams.set_index("TeamID").index:
        wTourneyRes = dTourneyResults.query('WTeamID == %d & %s' % (team,query))
        lTourneyRes = dTourneyResults.query('LTeamID == %d & %s' % (team,query))
        wRegSeasonRes = dRegSeasonResults.query('WTeamID == %d & %s' % (team,query))
        lRegSeasonRes = dRegSeasonResults.query('LTeamID == %d & %s' % (team,query))
        data["TeamID"].append(team)
        data["KPomRk"].append(kpomSorted.loc[team]["Rk"] if team in kpomSorted.index else None)
        data["TFGM"].append((0 if pd.isna(wTourneyRes.WFGM.mean()) else wTourneyRes.WFGM.mean()) + (0 if pd.isna(lTourneyRes.LFGM.mean()) else lTourneyRes.LFGM.mean())/2)
        data["TFG%"].append((0 if pd.isna(wTourneyRes["WFG%"].mean()) else wTourneyRes["WFG%"].mean()) + (0 if pd.isna(lTourneyRes["LFG%"].mean()) else lTourneyRes["LFG%"].mean())/2)
        data["TPts"].append((0 if pd.isna(wTourneyRes.WPts.mean()) else wTourneyRes.WPts.mean()) + (0 if pd.isna(lTourneyRes.LPts.mean()) else lTourneyRes.LPts.mean())/2)
        data["TTS%"].append((0 if pd.isna(wTourneyRes["WTS%"].mean()) else wTourneyRes["WTS%"].mean()) + (0 if pd.isna(lTourneyRes["LTS%"].mean()) else lTourneyRes["LTS%"].mean())/2)
        data["TPos"].append((0 if pd.isna(wTourneyRes.WPos.mean()) else wTourneyRes.WPos.mean()) + (0 if pd.isna(lTourneyRes.LPos.mean()) else lTourneyRes.LPos.mean())/2)
        data["TAst"].append((0 if pd.isna(wTourneyRes.WAst.mean()) else wTourneyRes.WAst.mean()) + (0 if pd.isna(lTourneyRes.LAst.mean()) else lTourneyRes.LAst.mean())/2)
        data["TDR"].append((0 if pd.isna(wTourneyRes.WDR.mean()) else wTourneyRes.WDR.mean()) + (0 if pd.isna(lTourneyRes.LDR.mean()) else lTourneyRes.LDR.mean())/2)
        data["TOffRtg"].append((0 if pd.isna(wTourneyRes.WOffRtg.mean()) else wTourneyRes.WOffRtg.mean()) + (0 if pd.isna(lTourneyRes.LOffRtg.mean()) else lTourneyRes.LOffRtg.mean())/2)
        data["TDefRtg"].append((0 if pd.isna(wTourneyRes.WDefRtg.mean()) else wTourneyRes.WDefRtg.mean()) + (0 if pd.isna(lTourneyRes.LDefRtg.mean()) else lTourneyRes.LDefRtg.mean())/2)
        data["TNetRtg"].append((0 if pd.isna(wTourneyRes.WNetRtg.mean()) else wTourneyRes.WNetRtg.mean()) + (0 if pd.isna(lTourneyRes.LNetRtg.mean()) else lTourneyRes.LNetRtg.mean())/2)
        data["TPIE"].append((0 if pd.isna(wTourneyRes.WPIE.mean()) else wTourneyRes.WPIE.mean()) + (0 if pd.isna(lTourneyRes.LPIE.mean()) else lTourneyRes.LPIE.mean())/2)
        data["RFGM"].append((0 if pd.isna(wRegSeasonRes.WFGM.mean()) else wRegSeasonRes.WFGM.mean()) + (0 if pd.isna(lRegSeasonRes.LFGM.mean()) else lRegSeasonRes.LFGM.mean())/2)
        data["RFG%"].append((0 if pd.isna(wRegSeasonRes["WFG%"].mean()) else wRegSeasonRes["WFG%"].mean()) + (0 if pd.isna(lRegSeasonRes["LFG%"].mean()) else lRegSeasonRes["LFG%"].mean())/2)
        data["RPts"].append((0 if pd.isna(wRegSeasonRes.WPts.mean()) else wRegSeasonRes.WPts.mean()) + (0 if pd.isna(lRegSeasonRes.LPts.mean()) else lRegSeasonRes.LPts.mean())/2)
        data["RTS%"].append((0 if pd.isna(wRegSeasonRes["WTS%"].mean()) else wRegSeasonRes["WTS%"].mean()) + (0 if pd.isna(lRegSeasonRes["LTS%"].mean()) else lRegSeasonRes["LTS%"].mean())/2)
        data["RPos"].append((0 if pd.isna(wRegSeasonRes.WPos.mean()) else wRegSeasonRes.WPos.mean()) + (0 if pd.isna(lRegSeasonRes.LPos.mean()) else lRegSeasonRes.LPos.mean())/2)
        data["RAst"].append((0 if pd.isna(wRegSeasonRes.WAst.mean()) else wRegSeasonRes.WAst.mean()) + (0 if pd.isna(lRegSeasonRes.LAst.mean()) else lRegSeasonRes.LAst.mean())/2)
        data["RDR"].append((0 if pd.isna(wRegSeasonRes.WDR.mean()) else wRegSeasonRes.WDR.mean()) + (0 if pd.isna(lRegSeasonRes.LDR.mean()) else lRegSeasonRes.LDR.mean())/2)
        data["ROffRtg"].append((0 if pd.isna(wRegSeasonRes.WOffRtg.mean()) else wRegSeasonRes.WOffRtg.mean()) + (0 if pd.isna(lRegSeasonRes.LOffRtg.mean()) else lRegSeasonRes.LOffRtg.mean())/2)
        data["RDefRtg"].append((0 if pd.isna(wRegSeasonRes.WDefRtg.mean()) else wRegSeasonRes.WDefRtg.mean()) + (0 if pd.isna(lRegSeasonRes.LDefRtg.mean()) else lRegSeasonRes.LDefRtg.mean())/2)
        data["RNetRtg"].append((0 if pd.isna(wRegSeasonRes.WNetRtg.mean()) else wRegSeasonRes.WNetRtg.mean()) + (0 if pd.isna(lRegSeasonRes.LNetRtg.mean()) else lRegSeasonRes.LNetRtg.mean())/2)
        data["RPIE"].append((0 if pd.isna(wRegSeasonRes.WPIE.mean()) else wRegSeasonRes.WPIE.mean()) + (0 if pd.isna(lRegSeasonRes.LPIE.mean()) else lRegSeasonRes.LPIE.mean())/2)

In [16]:
populateDict(train, "Season < 2015")
populateDict(test, "Season >= 2015 & Season < 2020")
populateDict(features, "Season < 2020")

WTeamID == -1 & Season < 2015
WTeamID == -1 & Season >= 2015 & Season < 2020
WTeamID == -1 & Season < 2020

In [17]:
df = pd.DataFrame(train)
dft = pd.DataFrame(test)

In [18]:
xTrain = {"Team1ID": [], "Team2ID": [], "SeedDiff":[], "KPom1Rk":[],"1RFGM":[], "1RFG%": [],"1RPts": [],"1RTS%": [],"1RPos": [],"1ROffRtg": [], "1RDR":[], "1RAst":[], "1RDefRtg": [],"1RPIE": [], "1RNetRtg":[], "1TFGM":[], "1TFG%": [],"1TPts": [],"1TTS%": [],"1TPos": [],"1TOffRtg": [], "1TDR":[], "1TAst":[], "1TDefRtg": [],"1TPIE": [], "1TNetRtg":[], "KPom2Rk":[], "2RFGM":[], "2RFG%": [],"2RPts": [],"2RTS%": [],"2RPos": [],"2ROffRtg": [], "2RDR":[], "2RAst":[], "2RDefRtg": [],"2RPIE": [], "2RNetRtg":[], "2TFGM":[], "2TFG%": [],"2TPts": [],"2TTS%": [],"2TPos": [],"2TOffRtg": [], "2TDR":[], "2TLst":[], "2TDefRtg": [],"2TPIE": [], "2TNetRtg":[]}
xTest = {"Team1ID": [], "Team2ID": [], "SeedDiff":[], "KPom1Rk":[],"1RFGM":[], "1RFG%": [],"1RPts": [],"1RTS%": [],"1RPos": [],"1ROffRtg": [], "1RDR":[], "1RAst":[], "1RDefRtg": [],"1RPIE": [], "1RNetRtg":[], "1TFGM":[], "1TFG%": [],"1TPts": [],"1TTS%": [],"1TPos": [],"1TOffRtg": [], "1TDR":[], "1TAst":[], "1TDefRtg": [],"1TPIE": [], "1TNetRtg":[], "KPom2Rk":[], "2RFGM":[], "2RFG%": [],"2RPts": [],"2RTS%": [],"2RPos": [],"2ROffRtg": [], "2RDR":[], "2RAst":[], "2RDefRtg": [],"2RPIE": [], "2RNetRtg":[], "2TFGM":[], "2TFG%": [],"2TPts": [],"2TTS%": [],"2TPos": [],"2TOffRtg": [], "2TDR":[], "2TLst":[], "2TDefRtg": [],"2TPIE": [], "2TNetRtg":[]}
yTrain = []
yTest = []

In [19]:
def buildDataSet(data, label, func):
    dfTrain = df.set_index("TeamID")
    dfTest = dft.set_index("TeamID")
    for index, row in dTourneyResults.iterrows():
        if row.WTeamID in dfTrain.index and row.LTeamID in dfTrain.index and func(row.Season):
            flipIdx = np.random.randint(2) # randomize order of teams
            label.append(flipIdx)
            if(flipIdx):
                data["Team1ID"].append(row.WTeamID)
                data["Team2ID"].append(row.LTeamID)
            else:
                data["Team1ID"].append(row.LTeamID)
                data["Team2ID"].append(row.WTeamID)
            data['SeedDiff'].append(row.WSeed - row.LSeed)
            team1 = dfTrain.loc[row.WTeamID].to_list() 
            team2 = dfTrain.loc[row.LTeamID].to_list()
            keys = [*xTrain][3:]
            i = 0
            if flipIdx:
                for val in team1:
                    data[keys[i]].append(val)
                    i+=1
                for val in team2:
                    data[keys[i]].append(val)
                    i+=1
            else:
                for val in team2:
                    data[keys[i]].append(val)
                    i+=1
                for val in team1:
                    data[keys[i]].append(val)
                    i+=1

In [20]:
buildDataSet(xTrain, yTrain, lambda x: x < 2015)
buildDataSet(xTest, yTest, lambda x: x >= 2015 and x < 2020)

In [21]:
xTrainDf = pd.DataFrame(xTrain)
yTrainDf = np.array(yTrain)
xTestDf = pd.DataFrame(xTest)
yTestDf = np.array(yTest)
featuresDf = pd.DataFrame(features)

In [22]:
# Dropping some examples because the local KenPom rankings database (kpom.csv) are not fully completed for all teams in NCAA (will come back to later if needed)
xTrainDf = xTrainDf.dropna()
xTrainDf

,Team1ID,Team2ID,SeedDiff,KPom1Rk,1RFGM,1RFG%,1RPts,1RTS%,1RPos,1ROffRtg,...,2TFG%,2TPts,2TTS%,2TPos,2TOffRtg,2TDR,2TLst,2TDefRtg,2TPIE,2TNetRtg
1,1112,1436,-15.0,44.0,39.619194,0.694047,112.913812,0.846426,98.456563,172.058782,...,0.605317,93.400000,0.731796,91.468800,155.782170,31.100000,19.800000,155.176582,0.727974,0.605588
2,1272,1113,3.0,40.0,38.955023,0.668454,111.194701,0.813046,99.840353,167.184696,...,0.735139,113.000000,0.914336,92.806400,182.493086,34.166667,22.500000,172.110846,0.817646,10.382240
4,1143,1301,-1.0,136.0,39.032336,0.698479,108.776182,0.836419,96.745598,168.690528,...,0.672989,101.571429,0.823626,92.733257,165.087419,35.357143,18.500000,153.695755,0.834292,11.391663
5,1140,1163,-7.0,22.0,39.897170,0.696311,113.916038,0.849145,99.524758,171.568918,...,0.682816,111.440476,0.829914,96.827429,172.570737,40.083333,19.190476,158.153722,0.879716,14.417015
6,1181,1161,-11.0,34.0,40.100247,0.683338,116.648246,0.846821,100.076263,175.147008,...,0.680474,109.666667,0.876147,96.160000,170.505487,41.500000,13.166667,167.459923,0.721630,3.045564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,1163,1277,3.0,18.0,39.560047,0.678663,111.103188,0.813055,98.476645,169.001117,...,0.677792,105.756410,0.833963,94.486892,167.811763,37.445513,22.182692,161.043390,0.820435,6.768373
776,1276,1246,6.0,2.0,36.223900,0.679794,102.515103,0.838517,91.280863,168.626153,...,0.707756,110.370370,0.847941,93.575111,176.391822,35.611111,20.129630,163.615002,0.853536,12.776820
777,1163,1196,6.0,18.0,39.560047,0.678663,111.103188,0.813055,98.476645,169.001117,...,0.692914,107.310185,0.855764,93.558844,171.953837,38.706019,19.518519,154.504904,0.875097,17.448933
778,1458,1246,6.0,11.0,35.121338,0.658258,100.686690,0.815203,88.312240,171.218274,...,0.707756,110.370370,0.847941,93.575111,176.391822,35.611111,20.129630,163.615002,0.853536,12.776820
779,1246,1163,-1.0,49.0,39.128923,0.697516,110.203752,0.839289,97.171053,170.213325,...,0.682816,111.440476,0.829914,96.827429,172.570737,40.083333,19.190476,158.153722,0.879716,14.417015

In [23]:
# Dropping some examples because the local KenPom rankings database (kpom.csv) are not fully completed for all teams in NCAA. (will come back to later if needed)
xTestDf = xTestDf.dropna()
xTestDf

,Team1ID,Team2ID,SeedDiff,KPom1Rk,1RFGM,1RFG%,1RPts,1RTS%,1RPos,1ROffRtg,...,2TFG%,2TPts,2TTS%,2TPos,2TOffRtg,2TDR,2TLst,2TDefRtg,2TPIE,2TNetRtg
0,1264,1214,0.0,316.0,36.203854,0.658813,106.034899,0.809423,97.400628,163.115519,...,0.161760,23.500000,0.185979,31.872000,36.859511,11.750000,2.750000,61.408001,0.061225,-24.548490
1,1279,1140,0.0,48.0,38.829898,0.673646,108.755197,0.815100,97.191383,167.694035,...,0.668517,119.166667,0.841622,105.642667,169.534429,38.055556,22.583333,158.764029,0.788924,10.770400
2,1173,1129,0.0,79.0,36.154495,0.669432,103.349847,0.818579,93.270777,166.246239,...,0.243012,33.000000,0.274310,30.528000,54.468020,9.500000,7.250000,63.847384,0.203423,-9.379365
3,1316,1352,0.0,306.0,35.570652,0.680382,101.303486,0.820863,95.753815,158.599637,...,0.202459,33.000000,0.247855,33.878400,48.794889,11.000000,6.000000,57.102114,0.192000,-8.307226
5,1459,1116,-7.0,124.0,36.960666,0.682775,104.676882,0.829216,94.030488,167.322868,...,0.749542,118.000000,0.936229,93.216000,189.474696,33.166667,18.833333,180.842383,0.804023,8.632313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,1120,1246,3.0,64.0,37.708757,0.678711,107.144804,0.821908,97.771872,164.311175,...,0.707756,110.370370,0.847941,93.575111,176.391822,35.611111,20.129630,163.615002,0.853536,12.776820
331,1277,1181,1.0,55.0,37.830013,0.701327,105.974332,0.842817,93.696924,169.459016,...,0.657594,107.568182,0.835085,94.990545,170.818976,37.068182,18.265152,153.080328,0.888910,17.738648
332,1403,1277,1.0,23.0,39.198987,0.696059,110.346383,0.833741,99.383619,166.343883,...,0.677792,105.756410,0.833963,94.486892,167.811763,37.445513,22.182692,161.043390,0.820435,6.768373
333,1438,1120,-4.0,12.0,37.023027,0.667545,105.454973,0.818525,95.092339,166.365956,...,0.647870,105.500000,0.798108,97.920000,161.435692,35.500000,18.500000,160.896432,0.805085,0.539260
334,1403,1438,-2.0,23.0,39.198987,0.696059,110.346383,0.833741,99.383619,166.343883,...,0.723566,107.000000,0.906561,87.782400,183.839655,40.166667,19.500000,156.404372,0.873462,27.435282

In [24]:
featuresDf = featuresDf.drop_duplicates()
featuresDf

,TeamID,KPomRk,RFGM,RFG%,RPts,RTS%,RPos,ROffRtg,RDR,RAst,...,TFG%,TPts,TTS%,TPos,TOffRtg,TDR,TAst,TDefRtg,TPIE,TNetRtg
0,1101,95.0,37.037521,0.687191,106.678947,0.849066,97.137787,164.689745,34.402716,20.784211,...,0.160377,22.000000,0.191638,30.91200,35.584886,7.000000,4.500000,65.981131,0.071856,-30.396245
1,1102,329.0,33.732993,0.702777,98.526697,0.878718,87.830084,168.851544,32.458701,21.609095,...,0.237023,30.250000,0.321657,28.23360,53.558282,8.250000,7.500000,61.144386,0.216757,-7.586104
2,1103,98.0,37.339606,0.670167,107.703510,0.830761,96.198790,167.876059,35.034760,20.924864,...,0.179439,27.000000,0.220327,30.86720,43.862971,9.833333,5.000000,64.273432,0.101787,-20.410461
3,1104,8.0,37.068984,0.674509,105.718447,0.820933,95.238882,166.401262,37.494173,18.575994,...,0.713630,109.866667,0.895353,91.01568,180.530587,30.483333,20.533333,179.546199,0.804946,0.984388
4,1105,348.0,35.194960,0.627984,103.327104,0.774206,100.790037,153.975668,37.430552,19.099349,...,0.194915,34.500000,0.257770,34.04160,50.673294,9.500000,8.000000,59.804990,0.199552,-9.131696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,1467,277.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
367,1468,182.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
368,1469,331.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
369,1470,266.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
370,1471,239.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [25]:
# save all relevant datasets to file to avoid processing again
featuresDf.to_csv("../Data/features.csv", index=False)
xTrainDf.to_csv("../Data/xTrain.csv", index=False)
np.savetxt("../Data/yTrain.csv", yTrainDf)
np.savetxt("../Data/yTest.csv", yTestDf)
xTestDf.to_csv("../Data/xTest.csv", index=False)

To train model, use xTrain.csv as training data, with labels given by yTrain.csv, and test the model with xTest.csv, whose labels are given by yTest.csv. features.csv will be used to perform future predictions (i.e., given two arbitary teams, predict who will win).